<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true" >
	<!-- permite cambiar configuración sin parar ejecución! -->

	<!-- Fichero con fecha Ejemplo logs/2010-06-08.log -->
	<variable name="logDirectory" value="${basedir}/logs"/>

	<targets>
		<target xsi:type="ColoredConsole" name="colored_console"/>

		<target
		layout="${longdate} - ${logger}: ${message}"
		name="file1" xsi:type="File" fileName="${logDirectory}/${shortdate}.log"/>

	</targets>

	<rules>
		<logger name="*"
		minlevel="Trace"
		writeTo="viewer,colored_console,file1" />
	</rules>
</nlog>
